.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: 1rem;
}

.gallery-container > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 0 25px;
}

.gallery-container > .card * {
  pointer-events: none;
}

img {
  width: 100%;
}

.score-container {
  display: flex;
  flex-flow: row wrap;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  margin: 15vh auto;
  width: 100%;
  max-width: 80%;
  max-height: 60vh;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-align: center;
}

.modal-img {
  max-height: 45vh;
  overflow: hidden;
}

.modal-img img {
  object-fit: contain;
  height: 100%;
  width: auto;
}

.modal-close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

#loading-bar {
  margin: 10svh auto;
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 768px) {
  .modal {
    max-width: 100%;
    max-height: 75vh;
  }
}
